.products-grid {
  padding: 20px 0;
  max-height: 1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #cccccc;
  overflow: hidden;
  border-radius: 5px;
}

.products-grid__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.products-grid__empty {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  width: 100%;
  height: auto;
  color: #505050;
}