.order-complete {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  width: 920px;
}

.order-complete__no {
  width: 520px;
}

.order-complete__no p {
  color: #505050;
}

.order-complete__account {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  cursor: pointer;
}

.order-complete__account a {
  text-decoration: underline;
  color: #83b669;
}
