.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #cccccc;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  height: 40px;
}

.footer__item--instagram {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  background-color: #ffffff;
}

.footer__icon {
  margin: 10px;
  width: 20px;
  height: auto;
}

.instagram-text {
  text-decoration: none;
  color: black;
}

.footer__item--gmail {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  background-color: #ffffff;
}

.footer__item--whatsapp {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #ffffff;
}

.footer-right-left {
  width: 200px;
}

.footer-right-right {
  width: 200px;
}