.product-details {
  margin: 25px 0;
  width: 960px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.product-details__header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #ffffff;
  width: 960px;
  height: 250px;
  padding: 20px 30px;
}

.product-details__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
}
.product-details__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  background-color: #ececec;
}

.engine {
  width: 200px;
  height: auto;
}

.product-details__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 230px;
  padding: 10px;
}

.product-details__name {
  font-size: 18px;
}

.product-details__code,
.product-details__manufacturer,
.product-details__description {
  color: #5c5c5c;
  font-size: 15px;
}

.product-details__additional {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-details__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  background-color: #ececec;
}

.product_details__price {
  margin: 10px;
  font-size: 1.5rem;
}

.product-details__bottom {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 960px;
  min-height: 300px;
}
.applicable-product-card-wrap {
  padding: 10px;
  width: 335px;
}
.product-details__review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
}

.product-details__availability {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.logo_available {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.productCardComponent {
  width: 150px;
  margin: 10px;
}

.product-details__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.product-details__error-message {
  padding: 10px;
}
