@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}

.dark {
  background-color: #393939;
  color: white;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  min-width: 300px;
  background-color: #f0f2f3;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.main-page {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.products {
  margin: 25px 0;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cart-route {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  padding: 10px 0 10px 10px;
}
.cart-route__header {
  font-size: 1.5rem;
}

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
}

/*User Profile*/
.profile__header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.profile__header--column {
  padding: 5px;
}

.profile__body {
  display: flex;
  flex-direction: column;
}

.profile__item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.profile__item--column {
  text-align: center;
}

.profile__empty {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px 0;
  text-align: center;
}

.profile__wrap {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px 0;
  padding: 20px;
  width: 960px;
  min-height: 50px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.profile__section {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  padding: 10px;
}

.profile__section--text {
  font-size: 1.5rem;
}

.profile__orders {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 30px 0;
}

/*Responsive Layout*/

@media (max-width: 640px) {

  body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-page {
    width: 375px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    width: 100vw;
  }
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
  }
  .header__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    padding: 10px;
  }
  .header__authorization {
    width: 200px;
    height: 50px;
  }
  .header__login,
  .header__signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
  }
  .header__login--icon,
  .header__signup--icon {
    width: auto;
    height: 30px;
  }

  .footer {
    width: 100vw;
  }
  .footer__wrapper {
    width: 360px;
    display: flex;
    justify-content: space-between;
  }

  .products {
    margin: 25px 0;
    width: 360px;
    overflow: hidden;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin-top: 25px;
    border-radius: 5px;
  }
  .pagination button {
    margin: 0;
  }
  .pagination button {
    margin: 5px;
    border-radius: 4px;
  }

  .filter {
    width: 360px;
    height: 250px;
    display: flex;
    flex-direction: column;
  }
  .filter__wrap {
    width: 100%;
    height: 100%;
  }
  .filter__dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__dash {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header__logo--text {
    display: none;
  }

  .locale__dropdown--button {
    display: none;
  }

  .products-grid {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products-grid__wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    overflow: scroll;
  }

  .dropdown {
    width: 300px;
    height: 40px;
    margin: 5px;
  }
  .dropdown__header {
    width: 100%;
    height: 100px;
    border-radius: 4px;
  }
  .dropdown--disabled {
    width: 100%;
    height: 100px;
    border-radius: 4px;
  }
  .dropdown__option {
    width: 300px;
    height: 40px;
    border-radius: 4px;
  }

  .filter__checkbox {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    margin: 5px;
  }
  .checkbox {
    width: 100%;
    height: 40px;
    border-radius: 4px;
  }

  .profile__section {
    width: 360px;
    padding: 0;
  }
  .profile__wrap {
    width: 360px;
    font-size: 8px;
  }
  .profile__item {
    margin: 0;
  }

  .cart {
    width: 360px;
    font-size: 8px;
  }
  .cart-item__number, .cart-item__delete {
    font-size: 8px;
  }
  .cart-item__button {
    padding: 0;
    font-size: 8px;
  }
  .contacts__body {
    width: 318px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .cart__input {
    width: 300px;
    height: 30px;
    font-size: 12px;
  }
  .cart-details__button {
    height: 30px;
    font-size: 12px;
  }
  .cart-details__button button {
    margin: 0;
  }

  .delivery__body {
    width: 318px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .delivery__address-details--style {
    width: 140px;
    font-size: 12px;
  }

  .order-complete {
    width: 318px;
  }

  .cart-route {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .route {
    display: none;
    position: absolute;
  }
  .route-cart, .route-contacts, .route-delivery, .route-completed {
    width: 100%;
  }

  .modal__content {
    width: 360px;
    max-height: 800px;
  }
  .modal__input {
    width: 300px;
  }
  .modal__footer button,
  .modal__signup {
    width: 100%;
  }
  .modal__body {
    max-height: 800px;
    width: 360px;
    display: flex;
    flex-direction: column;
  }

  .modal__full-name {
    display: flex;
    flex-direction: column;
  }
}

/*@media (min-width: 641px) and (max-width: 1024px) {*/
/*  .header__wrap, .filter {*/
/*    width: 700px;*/
/*  }*/
/*}*/

/*@media (min-width: 1025px) {*/
/*  .header__wrap, .filter {*/
/*    !*background-color: green;*!*/
/*    width: 960px;*/
/*  }*/
/*}*/